.filter-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1900;
  width: 100vw;
  height: 100vh;

  //   TODO: change color when final color chosen
  background-color: rgba($color_explorer, 0.8);
  .filter {
    padding: 1rem;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .filter-values {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .filter-value {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .filter-value:hover {
      background-color: #eee;
    }
    .filter-value:not(:last-child) {
      margin-right: 1em;
    }
  }
}

.filters-status-bar {
  background-color: $color_explorer_full;
  font-size: 1.875rem;
  line-height: 3rem;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  .filter-value {
    font-size: 1.875rem;
    line-height: 1.875rem;
  }
}
.filter-value {
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  background-color: white;
  font-weight: bold;
  display: flex;
  align-items: center;

  img {
    margin-right: 0.5rem;
  }
}
.filter-value.selected {
  padding-right: 1rem;
  margin: 0 0.5rem;
}
.filter-value.selected::after {
  content: "✕";
  padding-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.explore-grid-area {
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "menu menu menu"
    "status-bar status-bar status-bar"
    "main-content main-content main-content";
}
