.context-menu {
  border-right: $menu-border;
  // carousel
  #news-carousel {
    display: block;
    border: 4px $color_lindex solid;
    border-top: none;
    .rightHeader {
      font-size: 1.25rem;
      font-weight: 700;
      background-color: $color_lindex;
    }
    figure .action {
      display: none;
    }
    figure {
      aspect-ratio: 16/9;
      width: 100%;
      img {
        object-position: center center;
        object-fit: cover;

        width: 100%;
        aspect-ratio: 16/9;
      }
    }
  }
  .carousel-control-next,
  .carousel-control-prev {
    position: unset;
    width: unset;
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      width: 1rem;
      height: 1rem;
    }
  }
  .carousel-indicators {
    flex-grow: 1;
    flex-wrap: nowrap;
    position: unset;
    margin-bottom: 0;
    align-items: center;
    margin: 0;
    padding: 0 0.5rem;

    button {
      width: 0.5em;
      flex-grow: 1;
    }
  }
  .carousel-controls {
    background-color: $color_lindex;
  }
  .news {
    text-decoration: none;
    .info-box {
      padding: 0.5em;
      height: calc(3.8rem + 1em);
      text-overflow: ellipsis;
      overflow: hidden;
      .title {
        font-size: 1.5rem;
        line-height: 2rem;
      }
      .subtitle {
        font-family: $technical_font;
        line-height: 2rem;
      }
    }
  }
  @media (max-height: 900px) {
    #news-carousel .rightHeader {
      display: none;
    }
    #news-carousel {
      border-top: 4px $color_lindex solid;
    }

    .presentation {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
  @media (max-height: 790px) {
    .presentation {
      display: none;
    }
  }
  @media (max-height: 730px) {
    #news-carousel {
      display: none;
    }
  }
  @media (max-height: 380px) {
    .vertical-menu {
      display: none;
    }
  }
  @include media-breakpoint-up(md) {
    #burger-menu {
      display: none !important;
    }
  }

  @include media-breakpoint-down(sm) {
    .presentation {
      display: none;
    }
    .vertical-menu {
      display: none;
    }
    #news-carousel {
      display: none;
    }
    border-right: unset;
  }
}
