body {
  scrollbar-color: $color_default_text white;
  scrollbar-width: thin;
}
body::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track {
  background: white;
}
body::-webkit-scrollbar-thumb {
  background-color: $color_default_text;
  border-radius: 6px;
  border: 3px solid white;
}
h1,
h2,
h3 {
  font-weight: 700;
}

.full-height {
  height: 100vh;
}
.half-height {
  height: 50vh;
}
.full-responsive-height {
  height: 100vh;
}
@include media-breakpoint-down(sm) {
  .full-responsive-height {
    height: 90vh;
  }
}
.parcours {
  background-color: $color_parcours_full;
}
.explorer {
  background-color: $color_explorer_full;
}
.selections {
  background-color: $color_selections_full;
}

.explore-map {
  height: 100%;
}
.listing-map {
  height: 100%;
}
@include media-breakpoint-down(md) {
  .listing-map {
    height: 50vh;
  }
}

.rightHeader {
  background-color: $color_default_text;
  color: white;
  font-size: 1em;
  padding: 0.5em;
}

.page-layout-grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@include media-breakpoint-down(md) {
  .page-layout-grid-container {
    height: auto;
  }
}
@include media-breakpoint-down(md) {
  .page-layout-grid-container {
    grid-template-columns: 1fr 0fr !important;
  }
}
.page-layout-default-area {
  grid-template-rows: min-content auto;
  grid-template-areas:
    "menu menu menu"
    "col-content main-content main-content";
}

// SELECTION PAGE
.colonne-main-footer-area {
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    "menu menu menu"
    "col-content main-content main-content"
    "footer footer footer";
}
@include media-breakpoint-down(md) {
  .colonne-main-footer-area {
    grid-template-rows: auto;
    grid-template-areas: "col-content" "main-content" "media" "map";
  }
  .horizontal-carousel {
    display: none !important;
  }
}
// MEDIA
.media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  > .media {
    max-height: 78vh;
    img {
      max-height: 78vh;
    }
    margin-bottom: 1rem !important;
  }
  // for oemebd media like vimeo
  .__embed {
    max-width: 50vw;
    max-height: 85%;
    margin-bottom: 1rem !important;
    // we use video 1.77 ratio
    iframe {
      height: calc(50vw / 1.77);
    }
  }

  .pdf-page {
    //   // width: 100%;
    //   .react-pdf__Page__canvas {
    //     // height: 65vh !important;
    //     // width: unset !important;
    //     // max-width: 100% !important;
    //     // margin: 0 auto;
    //   }

    .react-pdf__Page__textContent {
      transform: unset !important;
      top: 0 !important;
      left: 0 !important;
    }
  }
}
.pdf-page {
  border: $menu-border;
}
.media-container:last-child {
  margin-bottom: 0;
}
figure {
  margin-bottom: 0;
  display: inline-block;
  position: relative;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  .caption {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(lightgray, 0.3);
    padding: 0.1rem;
    color: $color_default_text;
    font-size: 0.5rem;
  }
  .caption::before {
    content: "© ";
  }
}
.force-width,
.force-width > * {
  width: 100%;
}
.force-height,
.force-height > * {
  height: 100%;
}
.horizontal-carousel {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  .lieu-card {
    flex-shrink: 0;
    position: relative;
    .title {
      img {
        padding-right: 0.5rem;
      }
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.2rem 0.5rem;
      z-index: 1;
    }
    .media {
      height: 40vh;
    }
  }
}
