body {
  font-family: "Neuzeit Grotesk";
  color: $color_default_text;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 5rem;
}

.full-height {
  height: 100vh;
}
.half-height {
  height: 50vh;
}
.full-responsive-height {
  height: 100vh;
}
@include media-breakpoint-down(sm) {
  .full-responsive-height {
    height: 50vh;
  }
}

.logo {
  padding: 2em;
}
.parcours {
  background-color: $color_parcours;
}
.explorer {
  background-color: $color_explorer;
}
.selections {
  background-color: $color_selections;
}

// todo : unify menu styles
.menu-item {
  font-size: 1.5rem;
  font-weight: 600;
  border-top: 1px solid black;
  padding: 0.3em 1rem;
}

.vertical-menu {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  div {
    border-top: 1px solid black;
    padding-left: 1rem;
  }
  .menu-item:last-child {
    border-bottom: 1px solid black;
  }
  .about-item {
    font-size: 1rem;
  }
}

.horizontal-menu {
  font-size: 1.25em;
  font-weight: bold;
  display: contents;
  height: $horizontal_menu_height;
  box-sizing: border-box;

  a {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 0.5em 0 0.5em 1em;
    text-align: left;
    grid-row: menu;
    text-decoration: none;
  }
}

.explore-map {
  height: 100%;
}
.rightHeader {
  background-color: black;
  color: white;
  font-size: 1em;
  font-weight: 600;
  padding: 0.5em;
}
.metadata {
  font-family: $technical_font;
}

.page-layout-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.page-layout-default-area {
  grid-template-rows: min-content auto;
  grid-template-areas:
    "menu menu menu"
    "col-content main-content main-content";
}
