.metadata-panel {
  border-top: $black_border;
  background-color: $color_grey_background;
  display: flex;
  padding: 0.5em;
  flex-wrap: wrap;
  .field {
    //margin: 0.5em;
    line-height: 3rem;
    .label {
      font-family: $technical_font;
      margin-right: 0.5em;
    }
    .value {
      background-color: white;
      border-radius: 1em;
      padding: 0.5em;
      margin-right: 0.5em;
    }
    .value:last-child {
      margin-right: 0;
    }
  }
}
