.metadata-panel {
  background-color: $color_grey_background;
  //display: flex;
  padding: 0.5rem 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  .field {
    line-height: 1.2rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.3rem;

    .label {
      margin-bottom: 0.5rem;
    }
    .label {
      font-family: $technical_font;
      margin-right: 0.75rem;
      font-weight: normal;
      white-space: nowrap;
      //margin-top: 0.1rem;
    }
    .value-no-link {
      // margin top to align fonts
      margin-top: -0.1rem;
      margin-bottom: 0.5rem;
    }
    .value {
      white-space: nowrap;
      font-size: 0.85rem;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: white;
      border-radius: 2em;
      padding: 0.3rem 1rem 0.3rem 1rem;
      margin-right: 0.5em;
      text-decoration: none;
      // margin top to align fonts
      margin-top: -0.2rem;
      margin-bottom: 0.5rem;
    }
    .value:hover {
      background-color: lightgrey;
    }
    .value:last-child {
      margin-right: 0;
    }
  }
  .field:last-child {
    margin-right: 0;
  }
}
