.metadata-panel {
  border-top: $menu_border;
  background-color: $color_grey_background;
  display: flex;
  padding: 0.5em;
  flex-wrap: wrap;
  .field {
    margin-right: 1em;
    line-height: 3rem;
    .label {
      font-family: $technical_font;
      margin-right: 0.5em;
      font-weight: normal;
    }
    .value {
      background-color: white;
      border-radius: 1em;
      padding: 0.5em;
      margin-right: 0.5em;
      text-decoration: none;
    }
    .value:hover {
      background-color: lightgrey;
    }
    .value:last-child {
      margin-right: 0;
    }
  }
  .field:last-child {
    margin-right: 0;
  }
}
