@import "~leaflet/dist/leaflet.css";

.lieu-popup {
  .leaflet-popup-content-wrapper {
    border-radius: 0px;
    padding: 0;
  }
  .leaflet-popup-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: $color_explorer;

    .metadata-panel {
      background-color: inherit;
      border-top: unset;
      font-weight: bold;
      @include media-breakpoint-down(sm) {
        .extra-metadata {
          display: none;
        }
      }
      @media (max-height: 500px) {
        .extra-metadata {
          display: none;
        }
      }
      .value {
        font-family: $default_font;
      }
    }
    a {
      color: $color_default_text;
      figure .action {
        display: none;
      }
      .media {
        width: 100%;
        margin-bottom: 0.5rem;
      }
      h5 {
        padding: 0.8rem;
        font-weight: bold;

        font-family: $technical_font;
      }
      text-decoration: none;
    }
  }
}

.map-in-menu {
  position: relative;
  .metadata-panel {
    display: none;
  }
  .leaflet-popup-content {
    width: 200px !important;
  }
  .map-legend {
    display: none;
  }
}

:not(.map-in-menu) {
  .leaflet-popup-content {
    @include media-breakpoint-up(md) {
      width: 400px;
    }
    @include media-breakpoint-down(md) {
      width: 300px !important;
    }
    @include media-breakpoint-down(sm) {
      width: 80vw !important;
    }
  }
}
.leaflet-container {
  font: unset;
}

.map-legend {
  ul {
    padding: 0.5rem;
    background-color: white;
    font-size: 1rem;
    li {
      line-height: 1.25rem;
      padding-bottom: 0.5rem;
    }
    li:last-child {
      padding-bottom: 0;
    }
    margin-bottom: 5px;
  }
}

.map-attribution {
  > summary {
    list-style: none;
    display: inline;
    width: min-content;
  }
  > summary::-webkit-details-marker {
    display: none;
  }
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
  line-height: 0.8rem;
  padding: 0.2rem;
  span {
    font-size: 0.8rem;
  }
}
