@import "~leaflet/dist/leaflet.css";

.lieu-popup {
  .leaflet-popup-content-wrapper {
    border-radius: 0px;
    padding: 0;
  }
  .leaflet-popup-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: $color_explorer;

    .metadata-panel {
      background-color: inherit;
      border-top: unset;
      font-weight: bold;
      @include media-breakpoint-down(sm) {
        .extra-metadata {
          display: none;
        }
      }
      @media (max-height: 500px) {
        .extra-metadata {
          display: none;
        }
      }
      .value {
        font-family: $default_font;
      }
    }
    a {
      color: $color_default_text;
      .media {
        width: 100%;
      }
      h5 {
        padding: 0.8rem;
        font-weight: bold;
        min-width: 301px;

        font-family: $technical_font;
      }
      text-decoration: none;
    }
  }
}
