// todo : unify menu styles
.menu-item {
  border-top: $menu_border;
  padding: 0.8rem 1rem 0.6rem 1rem;
  text-decoration: none;
  cursor: pointer; //some menu item are not <a>
  background-color: white;
}

.vertical-menu {
  display: flex;
  flex-direction: column;

  .menu-item:last-child {
    border-bottom: $menu_border;
  }
  .about-item {
    font-size: 1rem;
    line-height: 0.5rem;
  }
}

.horizontal-menu {
  display: contents;
  height: $horizontal_menu_height;
  box-sizing: border-box;

  .menu-item {
    border-top: none;
    border-bottom: $menu_border;
    border-left: $menu_border;
    text-align: left;
    grid-row: menu;
  }
}
@include media-breakpoint-down(md) {
  .context-menu .vertical-menu {
    display: none;
  }
}
@include media-breakpoint-down(sm) {
  .horizontal-menu {
    display: none;
  }
  .vertical-menu {
    display: none;
  }
}
@media (max-height: 500px) {
  .horizontal-menu {
    display: none;
  }
  .vertical-menu {
    display: none;
  }
}

// COLORS
.menu-item.disabled {
  background-color: $color_grey_background;
  cursor: not-allowed;
  color: grey;
}
.disabled:hover {
  background-color: $color_grey_background !important;
}
.explorer.menu-item.selected {
  background-color: $color_explorer_full;
}
.selections.menu-item.selected {
  background-color: $color_selections_full;
}
.parcours.menu-item.selected {
  background-color: $color_parcours_full;
}

.explorer-hover:hover,
.explorer.menu-item:hover {
  background-color: $color_explorer;
}

.selections-hover:hover,
.selections.menu-item:hover {
  background-color: $color_selections;
}
.parcours-hover:hover,
.parcours.menu-item:hover {
  background-color: $color_parcours;
}
