// TODO: refacto those style which are usefull in selection too
.parcours-list {
  display: flex;
  flex-direction: column;
  border-left: 8px black solid;
  .parcours-card {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-top: 2px black solid;
    height: 130px;
    > img {
      height: 100%;
    }

    > .parcours-title {
      font-family: $technical_font;
      flex-grow: 1;
      padding: 1em;
      h5 {
        font-weight: bold;
      }
    }
  }
  a:last-child > .parcours-list {
    border-bottom: 2px black solid;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  .step {
    padding: 1em;
    border-top: 2px black solid;
  }
  .step:last-child {
    border-bottom: 2px black solid;
  }
}

.edito {
  font-size: 1em;
  padding: 1em;
}
.parcours-grid-area {
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    "menu menu menu"
    "col-content main-content main-content"
    "footer footer footer";
}
