// TODO: refacto those style which are usefull in selection too
.parcours-list {
  display: flex;
  flex-direction: column;
  border-left: 1rem black solid;
  .parcours-card {
    display: flex;
    flex-direction: row;
    border-top: 1px black solid;

    .parcours-cover {
      width: 25%;
      max-height: 100%;
      flex-shrink: 0;
      // .media {
      //   img {
      //     object-fit: cover;
      //   }
      // }
    }

    .parcours-title {
      padding: 0.5em 0 0.5em 1em;
      min-height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
        font-size: 1.15rem;
        line-height: 1.25rem;
        font-weight: 700;
      }
      .subtitle {
        font-family: $technical_font;
        font-size: 1rem;
        font-weight: lighter;
        line-height: 1.25rem;
      }
    }
  }
  a:last-child > .parcours-card {
    border-bottom: 2px black solid;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  .step {
    padding: 1em;
    border-top: 2px black solid;
  }
  .step:last-child {
    border-bottom: 2px black solid;
  }
}

.edito {
  font-size: 1em;
  padding: 1em;
}
.parcours-grid-area {
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    "menu menu menu"
    "col-content main-content main-content"
    "footer footer footer";
}

.parcours-gallery {
  .media {
    margin-right: 1rem;
  }
  .media:last-child {
    margin-right: 0;
  }
}
@include media-breakpoint-down(md) {
  .parcours-gallery {
    flex-direction: column;
  }
  .parcours-grid-area {
    grid-template-rows: auto;
    grid-template-areas:
      "col-content"
      "main-content"
      "media"
      "map";
  }
}
