@import url("../assets/fonts/fonts.css");
body {
  font-family: "NeuzeitGrotesk";
  color: $color_default_text;
  font-weight: bold;
}
a {
  text-decoration: none;
}

.presentation {
  margin: 1rem 1rem;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.15rem;
  flex-shrink: 0;
}

.metadata {
  font-family: $technical_font;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 0;
}
h4 {
  font-weight: bold;
}

.long-text {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.45rem;
  a {
    text-decoration: underline;
    color: $color_link;
  }
}

.short-description {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
  > p > a {
    text-decoration: underline;
    color: $color_link;
  }
}

.nav-home {
  font-size: 1.5rem;
}
.horizontal-menu,
.vertical-menu,
.vertical-menu-static {
  font-size: 1.25rem;
}
