// color
$primary: #000000;
$secondary: #00aeef;
$color_selections: #fbf9e4;
$color_explorer: #ecf2f9;
$color_explorer_full: #87affe;
$color_parcours: #ffe3df;
$color_lardepa: #d10f44;
$color_grey_background: #eff1f3;

// borders
$black_border: 2px black solid;

// fonts
$technical_font: "Neue Machina";
