// color
$primary: #313138;
$color_selections: #fbf9e4;
$color_selections_full: #f0de3e;
$color_explorer: #ecf2f9;
$color_explorer_full: #87affe;
$color_parcours: #ffe3df;
$color_parcours_full: #ff5353;
$color_lardepa: #d10f44;
$color_grey_background: #eff1f3;
$color_default_text: #313138;
$color_link: #1464ff;

// borders
$menu_border: 1px $color_default_text solid;
$menu_strong_border: 2px $color_default_text solid;

// fonts
$default_font: "Neuzeit Grotesk", "sans serif";
$technical_font: "Space Mono", monospace;

// layout
$horizontal_menu_height: 30px;
$logo-height: 60px;
$logo-margin-top: 0.8rem;
